.Home {
    background-color: var(--white);
    height: 812px;
    overflow: hidden;
    position: relative;
    width: 375px;    
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.delivery-to {
    margin-left: 15px; 
   margin-top: 15px;
    font-size: 12px;
    color: rgb(132, 126, 126);
}

.nizampet-hyd {
    font-size: small;
    color: black;
    margin-left: 15px;
    margin-top: 0px;
}

.downward-arrow {
    width: 10px;
    height: 10px;
    object-fit: cover;
    margin-left: 160px;
   position: absolute;
    margin-top: -12px;
}

.man {
    width: 32px;
    height: 32px;
    object-fit: cover;
    position: absolute;
    margin-left: 320px;
    border-radius: 20px;
    margin-top: -35px;
}


.search {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 65px;
    left: 70px;
    opacity: 50%;
    
   
}



.voice {
    width: 17px;
    height: 18px;
    position: absolute;
    left: 330px;
   opacity: 50%;
   top: 68px;
}

.just-check-out {
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(9, 4, 93);
    font-size: 14px;
}


.food-front {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    padding-left: 0px;
    opacity: 100%;
    margin-top: 10px;
    
}



.home-food {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
   
    opacity: 100%;
    margin-top: 10px;
}




.drink {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
   
    opacity: 100%;
    margin-top: 10px;
   
}

.delivery-2 {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
   
    opacity: 100%;
    margin-top: 10px;
   
}

.healthy-meal {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
   
    opacity: 100%;
    margin-top: 10px;
   
}

.cool-drink {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
   
    opacity: 100%;
    margin-top: 10px;
}


.healthy-chef {
    width: 370px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
   
    opacity: 100%;
    margin-top: 10px;
}


.tiffin {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   left: 10px;
   object-fit: cover;
   position: absolute;
    top: 400px;
}

.tiffins {
    position: absolute;
    top: 480px;
    left: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;

}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }


.snack {
    width: 98px;
    height: 69px;
   border-radius: 10px;
  left: 140px;
   object-fit: cover;
   position: absolute;
   top: 400px;
}

.snacks {
    position: absolute;
    top: 480px;
    left: 155px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.beverage {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   position: absolute;
   object-fit: cover;
  left: 270px;
  top: 400px;
}

.beverages {
    position: absolute;
    top: 480px;
    left: 280px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.dessert {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   position: absolute;
   object-fit: cover;
   left: 10px;
   top: 525px;
}

.desserts {
    position: absolute;
    top: 605px;
    left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.meal {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   object-fit: cover;
   position: absolute;
  left: 140px;
  top: 525px;
}

.meals {
    position: absolute;
    top: 605px;
    left: 165px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.salad {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   object-fit: cover;
   position: absolute;
   left: 270px;
   top: 525px;
}

.salads {
    position: absolute;
    top: 605px;
    left: 288px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.burger {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   object-fit: cover;
   position: absolute;
   left: 10px;
   top: 650px;
}

.burgers {
    position: absolute;
    top: 730px;
    left: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.pizza {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   object-fit: cover;
   position: absolute;
  left: 140px;
   top: 650px;
}

.pizza-1 {
    position: absolute;
    top: 730px;
    left: 165px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.kebab {
    width: 98px;
    height: 69px;
   border-radius: 10px;
   position: absolute;
   object-fit: cover;
   left: 270px;
   overflow: hidden;
   top: 650px;
}

.kebabs {
    position: absolute;
    top: 730px;
    left: 287px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
}


.rectangle-1 {

    background-color: rgba(255, 255, 254, 0.648);
   
   
    height: 55px;
    left: 0px;
    position: absolute;
    top: 577px;
    width: 371px;
    box-shadow: 3px 3px 3px rgba(216, 209, 209, 0.502) inset;
    
    margin-top: 180px;
}


.home {
    width: 25px;
    height: 31px;
    left: 20px;
    top: 764px;
    object-fit: cover;
    position: absolute;
}


.home-1 {
    position: absolute;
    top: 790px;
    left: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: smaller;
}

.take-away {
    width: 53px;
    height: 65px;
    left: 90px;
    top: 748px;
    object-fit: cover;
    position: absolute;
}

.car {
    width: 41px;
    height: 30px;
    left: 125px;
    top: 767px;
    object-fit: cover;
    position: absolute;
}

.car-1 {
    position: absolute;
    top: 790px;
    left: 110px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: smaller;
}

.dine {
    width: 35px;
    height: 30px;
    left: 225px;
    top: 763px;
    object-fit: cover;
    position: absolute;
}

.dine-1 {
    position: absolute;
    top: 790px;
    left: 220px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: smaller;
}

.cart {
    width: 25px;
    height: 25px;
    left: 320px;
    top: 765px;
    object-fit: cover;
    position: absolute;
}

.cart-1 {
    position: absolute;
    top: 790px;
    left: 320px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: smaller;
}