/*===== GOOGLE FONTS =====*/
.splash-screen {
    align-items: flex-start;
    background: linear-gradient(180deg,
    rgb(249.69, 19.77, 19.77) 0%,
    rgb(243.31, 122.67, 122.67) 100%,
    rgb(245.44, 100.22, 100.22) 100%,
    rgb(231.63, 78.17, 78.17) 100%,
    rgb(246.5, 38, 38) 100%
);
background-color: rgba(255, 255, 255, 1);
border: 1px solid #ff0e0e;
cursor: pointer;
display: flex;
height: 812px;
width: 371px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.content {
    position: relative;
}
.content h2 {
    position: absolute;
    font-size: 4em;
    color: rgb(227, 227, 227);
    text-align: center;
    left: 180px;
    transform: translate(-50%,-50%);
    top: 300px;
}

.content h2:nth-child(1) {
     color: transparent;
     -webkit-text-stroke: 2px #fdf9f9;
}


.content h2:nth-child(2) {
    color: #fbfbfb;
   animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
        
    clip-path: polygon(0 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}





.vegetable-transparent-5-1 {
    height: 400px;
    margin-top: 437px;
    object-fit: cover;
    width: 371px;
}