

.otp {
    background-color: var(--white);
    height: 812px;
    overflow: hidden;
    position: relative;
    width: 375px;
    color: black;
    
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}


.burger-1 {
    width: 371px;
    height: 812px;
    position: absolute;
    object-fit: cover;
    object-position: initial;
    opacity: 20%;
    left: 0;
}


.mobile-number {
    left: 125px;
    letter-spacing: 0;
    position: absolute;
    top: 60px;
    color: rgba(77, 74, 74, 0.701);
}



.line-1 {
    height: 10px;
    left: 80px;
    position: absolute;
    top: 49px;
    width: 225px;
    color: rgb(13, 15, 15);
}




        .rectangle-1 {

            background-color: rgba(239, 217, 180, 0.648);
           opacity: 60%;
           
            height: 90px;
            left: 0px;
            position: absolute;
            top: -70px;
            width: 371px;
            padding: 0px;
            margin-top: 180px;
        }



        .mobile {
            height: 46px;
            left: 310px;
            object-fit: cover;
            position: absolute;
            top: 150px;
            width: 45px;
            opacity: 70%;
            }
        
        
        .transparent-arrow-1 {
                cursor: pointer;
                height: 22px;
                left: 10px;
                object-fit: cover;
                position: absolute;
                top: 119px;
                width: 22px;
                transform: rotate(45deg);
                opacity: 50%;
                }
        

                .verify-details
                {
                    color: rgb(0, 0, 0);
                    font-family: var(--font-family-inter);
                    font-size: 14px;
                    font-weight: 400;
                    left: 52px;
                    letter-spacing: 0;
                    position: absolute;
                    top: 152px;
                    width: 178px;
                }
        
                .otp-sent-to {
                    
                    color: rgba(79, 78, 78, 0.735);
                    font-family: var(--font-family-inter);
                    font-size: 14px;
                    font-weight: 400;
                    left: 52px;
                    letter-spacing: 0;
                    position: absolute;
                    top: 172px;
                    width: 178px;
                }


           
                .enter-otp {
                    color:rgba(88, 84, 84, 0.801);
                    font-family: var(--font-family-inter);
                    font-size: var(--font-size-m);
                    font-weight: 400;
                    left: 10px;
                    letter-spacing: 0;
                    position: absolute;
                    top: 270px;
        
                }   


        .line-3 {
            height: 1px;
            left: 10px;
            position: absolute;
            top: 330px;
            width: 50px;
        } 

        .line-4 {
            height: 1px;
            left: 70px;
            position: absolute;
            top: 330px;
            width: 50px;
        }  
        .line-5 {
            height: 1px;
            left: 128px;
            position: absolute;
            top: 330px;
            width: 50px;
        }
        .line-6 {
            height: 1px;
            left: 185px;
            position: absolute;
            top: 330px;
            width: 50px;
        }  
        .line-7 {
            height: 1px;
            left: 250px;
            position: absolute;
            top: 330px;
            width: 50px;
          
        }      
        
        
                
        .line-2 {
            height: 1px;
            left: 315px;
            position: absolute;
            top: 330px;
            width: 50px;
        } 


        
        .didnt-recieve-the-otp {
            color: #4d4b4b9d;
            font-family: var(--font-family-inter);
            font-size: var(--font-size-m);
            font-weight: 400;
            left: 10px;
            letter-spacing: 0;
            position: absolute;
            top: 400px;
        }    
        
        


        .rectangle-46 { 
            border: 1px solid rgb(249, 149, 149);
            border-radius: 5px;
            cursor: pointer;
            height: 50px;
            left: 6px;
            position: absolute;
            top: 500px;
            width: 356px;
            background-color: rgba(242, 129, 129, 0.877);
            opacity: 60%;
        }
        



           
        .enter-otp-2 {
            color: #f9f7f7;
            font-family: var(--font-family-inter);
            font-size: var(--font-size-m);
            font-weight: 400;
            left: 140px;
            letter-spacing: 0;
            position: absolute;
            top: 520px;

        }   
