.sign-up-page {
    align-items: flex-start;
    background-color: #f5f5f5;
    border: 1px solid var(--white);
    display: flex;
    height: 812px;
    overflow: hidden;
    width: 385px;
}


.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group {
    height: 1090px;
    margin-left: 17px;
    margin-top: -131.5px;
    position: relative;
    width: 399px;
}



.spicy-food-1 {
    height: 400px;
    left: -30;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 390px;
    opacity: 35%;
    
}


.ellipse-1 {
    height: 320px;
    left: 0px;
    position: absolute;
    top: 90px;
    width: 500px;
    margin-left: 0px;
}



.rectangle-1 {

    background-color: white;
    border: 1px solid rgb(250, 223, 223);
    border-radius: 20px;
    height: 530px;
    left: 22px;
    position: absolute;
    top: 140px;
    width: 300px;
   padding: 0px;
    margin-top: 180px;
}




.log-in {
    color:  red;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 104px;
    letter-spacing: 0;
    position: absolute;
    top: 367px;
}


.sign-up {
    color: white;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 207px;
    letter-spacing: 0;
    position: absolute;
    top: 367px;
}



.rectangle-46 {
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
    height: 32px;
    left: 66px;
    position: absolute;
    top: 360px;
    width: 227px;
}


.rectangle-45 {
    
    background-color:  #ed2828f6;
    border: 1px solid red;
    border-radius: 20px;
    height: 32px;
    left: 178px;
    position: absolute;
    top: 360px;
    width: 115px;
}


.enter-email-or-username {
    left: 84px;
    letter-spacing: 0;
    position: absolute;
    top: 453px;
    width: 169px;
    color:  #0000004a;
}


.line-8 {
    height: 1px;
    left: 67px;
    position: absolute;
    top: 490px;
    width: 225px;
    color: rgb(0, 3, 3);
}



.surveillance {
    height: 16px;
    left: 260px;
    object-fit: cover;
    position: absolute;
    top: 530px;
    width: 25px;
    opacity: 40%;
}

.password {
    left: 84px;
    letter-spacing: o;
    position: absolute;
    top: 530px;
    width: 169px;
    color:  #0000004a;
}






.line-10 {
    height: 1px;
    left: 67px;
    position: absolute;
    top: 550px;
    width: 225px;
    color: rgb(0, 3, 3);
}


.confirm-password {
    color: #0000004a;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 84px;
    letter-spacing: 0;
    position: absolute;
    top: 590px;
}


.line-9 {
    height: 1px;
    left: 67px;
    position: absolute;
    top: 610px;
    width: 225px;
    color: rgb(0, 3, 3);
}

.rectangle-41 {
    background-color: #ed2828f6;
    border-radius: 30px;
    cursor: pointer;
    height: 44px;
    left: 65px;
    position: absolute;
    top: 642px;
    width: 225px;
}



.sign-up-1 {
    
    color: white;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 145px;
    letter-spacing: 0;
    position: absolute;
    top: 654px;
}

.or {
    left: 164px;
    letter-spacing: 0;
    position: absolute;
    top: 716px;
    color: darkgrey;
}


.google-1 {
    height: 32px;
    left: 129px;
    object-fit: cover;
    position: absolute;
    top: 776px;
    width: 32px;
}

.instagram-1-1 {
    height: 32px;
    left: 67px;
    object-fit: cover;
    position: absolute;
    top: 776px;
    width: 33px;
}


.facebook-2 {
    height: 32px;
    left: 185px;
    object-fit: cover;
    position: absolute;
    top: 776px;
    width: 32px;
}


.twitter {
    height: 32px;
    left: 245px;
    object-fit: cover;
    position: absolute;
    top: 776px;
    width: 33px;
}

.tomato-1 {
    height: 79px;
    left: 288px;
    object-fit: cover;
    position: absolute;
    top: 880px;
    width: 89px;
    transform: rotate(0deg);
}


.broccoli-transparent-25-1 {
    height: 100px;
    left: 192px;
    object-fit: contain;
    position: absolute;
    top: 880px;
    width: 135px;
    
}
